{%- if site.header_paths -%}
  {%- assign page_paths = site.header_paths -%}
{%- else -%}
  {%- assign page_paths = '' | split: '' -%}
  {%- for my_page in site.pages -%}
    {%- if my_page.title -%}
      {%- unless my_page.title contains "404" -%}
      {%- assign page_paths = page_paths | push: my_page.path -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="container navbar-custom">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths.size > 0 -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {%- assign page_order = "About, Projects, Blog" | split: ", " -%}
        {%- assign blog_views = "Tags, Categories" | split: ", " -%}
        {%- for title in page_order -%}
          {%- assign my_page = site.pages | where: "title", title | first -%}
          {%- assign li_class = "nav-item" -%}
          {%- if my_page.url == page.url -%}
            {%- assign li_class = li_class | append: " active" -%}
            {%- assign current = '<span class="sr-only">(current)</span>' -%}
          {%- elsif title == 'Blog' and blog_views contains page.title -%}
            {%- assign li_class = li_class | append: " active" -%}
            {%- assign current = '<span class="sr-only">' | append: page.title | append: ' (current)</span>' -%}
          {%- else -%}
            {%- assign current = "" -%}
          {%- endif -%}
          <li class="{{ li_class }}">
            <span class="nav-link">
              <a href="{{ my_page.url | relative_url }}" style="color: inherit">{{ my_page.title | escape }}</a>
              {{ current }}
              {%- if my_page.title == 'Blog' -%}
                <a class="fas fa-tag" href="/tags/" style="color: inherit; padding-left: 0.3rem"></a>
              {%- endif -%}
            </span>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
  </nav>
</div>