<!-- Adapted from https://github.com/alshedivat/al-folio/blob/master/_includes/social.html -->
<div class="social">
  <span class="contacticon text-center">
    {% if site.email %}
      <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>
    {% endif %}
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    {% endif %}
  </span>
</div>